<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>Project module 2</title>
</head>
<nav>
  
{{#if name}}
    <a href="/restaurant">Home</a>
    <a href="/restaurant/profile">Account</a>
    <a href="/auth/logout">Log out</a>
    <a href="">Support</a>
{{else}}
  {{#if username}}
    <a href="/">Home</a>
    <a href="/user/profile">Account</a>
    <a href="/auth/logout">Logout</a>
    <a href="">Support</a>
  {{else}}
    <a href="/">Home</a>
    <a href="/auth/signup">Sign up User</a>
    <a href="/auth/restaurant/signup">Sign up Restaurant</a>
    <a href="/auth/login">Log In</a>
    <a href="">Contact us</a>
  {{/if}}
{{/if}}

</nav>
<body>
    {{{ body }}}
</body>
</html>