/* Hello there! use this keywords to find the styles!

1. Restaurant presentation Card.
2. Cards Products.
3. Main View - HOME VIEW & search view

*/
* {
  box-sizing: border-box;
}
html {
  width: 100vw;
}
:root {
  --shadow-style: 5px 5px 5px rgb(194 193 193);
  --border-event: 5px solid rgb(9, 19, 66);
  --border-radius-event: 20px 5px 20px 5px;
  --backgroud-color-event: rgb(9 19 66);
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
#home-view,
#restaurant-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

#nav-bar,
#restaurant-title,
#cart {
  width: 90%;
}
#form {
  width: 90%;
}
/* ----------------------- Restaurant presentation Card -------*/
#restaurant-title {
  border: 5px solid rgb(214, 212, 212);
  border-radius: 20px 5px 20px 5px;
  background-color: rgb(214, 212, 212);
  padding-bottom: 5px;
  box-shadow: var(--shadow-style);
}
#restaurant-img-container {
  height: 120px;
  margin-bottom: 10px;
}
#restaurant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 5px 20px 5px;
}
#restaurant-info {
  display: flex;
  justify-content: space-evenly;
  height: 85px;
}
#restaurant-logo-container {
  height: 100%;
  width: 25%;
}
#restaurant-logo {
  /* take care with logo img from db! */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
#restaurant-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  justify-content: space-evenly;
  text-align: center;
}
#restaurant-name {
  font-size: 20px;
}

/*-------------- Cards Products -------*/
.category-and-products {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.search-title,
.category {
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}
.cart-partial {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  box-shadow: var(--shadow-style);
  border-radius: 20px 5px 20px 5px;
  width: 95%;
  height: 65px;
}
.cart-partial-img {
  width: 33%;
  padding-left: 5px;
}
.cart-partial-img a {
  width: 100%;
}
.cart-partial-img img {
  border-radius: 5px;
  height: 95%;
  width: 95%;
  object-fit: contain;
}
.cart-partial-info {
  width: 64%;
  display: flex;
}

.edit-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #888686;
  width: 40%;
  height: 24px;
  text-align: center;
  font-size: 10px;
}

.cart-partial-sell {
  width: 80%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cart-partial-add {
  width: 40%;
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6px;
}
.cart-partial-add img {
  width: 25px;
}

/*---------------- Cart ---------------- */
/* This ID is for buttons like "see your cart, finish your command, etc */
#view-all-btn,
#cart {
  padding-top: 5px;
  width: 40%;
  height: 40px;
  text-align: center;
  padding-bottom: 5px;
  box-shadow: var(--shadow-style);
  border: var(--border-event);
  border-radius: var(--border-radius-event);
  background-color: var(--backgroud-color-event);
  margin-top: 10px;
  margin-bottom: 10px;
}
#view-all-btn a,
#cart a {
  color: aliceblue;
}

/*---------------- User Cart Details ----------- */

#user-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
.user-cart-title {
  width: 90%;
  font-size: 20px;
  border-bottom: 2px solid black;
  margin: 10px 0px;
}
.product-details {
  display: flex;
  width: 90%;
  height: 65px;
  justify-content: space-evenly;
  margin: 10px 0px;
  box-shadow: var(--shadow-style);
  border-radius: 15px 8px 8px 15px;
}
.img-details {
  width: 30%;
}
.img-details img {
  width: 100%;
  height: 95%;
  border-radius: 15px;
  object-fit: contain;
}
.name-and-price,
.remove-button {
  width: 30%;
}
.name-and-price {
  display: flex;
  width: 52%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.trash-can-container {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash-can-logo {
  width: 20px;
  height: 22px;
}
.total-price-and-checkout {
  width: 90%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.total-price {
  width: 80%;
  height: 28%;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.checkout {
  width: 55%;
  height: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-style);
  border: rgb(214 136 29);
  border-radius: var(--border-radius-event);
  background-color: rgb(214 136 29);
  color: rgb(31, 31, 31);
  font-size: 16px;
}

.cartIcon {
  display: inline-flex;
  height: 20px;
  width: 20px;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

/*-------- User Cart Checkout ----------- */
.checkout-info {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 20px 5px 20px 5px;
  padding: 10px;
  box-shadow: var(--shadow-style);
  background-color: whitesmoke;
}
.checkout-info p {
  font-size: 15px;
}
.block {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
}
.direction-checkout {
  width: 25%;
}
.block p {
  height: auto;
  width: 75%;
  word-wrap: break-word;
}
#checkout-button {
  width: 55%;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-style);
  border: rgb(214 136 29);
  border-radius: var(--border-radius-event);
  background-color: rgb(214 136 29);
  color: rgb(31, 31, 31);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 4px;
}
#payment-gif {
  align-self: flex-start;
  margin-left: 40px;
}

/*-------------User order Status (fyI user see if the order is accepted, sent... ---*/
.status-info {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 20px 5px 20px 5px;
  padding: 10px;
  box-shadow: var(--shadow-style);
  background-color: whitesmoke;
}
.status-finish {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 20px 5px 20px 5px;
  padding: 10px;
  box-shadow: var(--shadow-style);
  background-color: whitesmoke;
}
#recived-button {
  width: 55%;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-style);
  border: rgb(214 136 29);
  border-radius: var(--border-radius-event);
  background-color: rgb(214 136 29);
  color: rgb(31, 31, 31);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}
/*------------ Product Details -------------------*/

#product-details-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#product-details-cart {
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  box-shadow: var(--shadow-style);
  border-radius: 20px 5px 20px 5px;
  border-top: 1px solid rgb(194 193 193);
  border-left: 1px solid rgb(194 193 193);
}

#product-details-cart img {
  width: 40%;
  height: 95%;
  border-radius: 15px;
  object-fit: contain;
}
#product-details-cart p {
  margin-bottom: 5px;
  font-size: 20px;
}
.product-details-info {
  width: 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------- Main View - HOME VIEW & search view ----------- */

#sushi-lovers-card {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
#sushi-lovers-card img {
  width: 25%;
  object-fit: cover;
}
#text-menu-box {
  width: 50%;
}
#text-menu-box h1 {
  font-size: 25px;
}
#text-menu-box h2 {
  font-size: 16px;
}
#search-bar {
  width: 90%;
  margin: 5px 0px;
}
#search-bar form {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 22px 10px;
}
#search-bar input,
#search-bar button {
  background-color: transparent;
  border: none;
}
#search-bar input {
  width: 90%;
  font-size: 17px;
}
#search-bar img {
  width: 30px;
}
.search-title {
  width: 90%;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
.restaurant-card {
  width: 40vw;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--shadow-style);
  border: rgb(214, 212, 212);
  border-radius: var(--border-radius-event);
  margin-bottom: 10px;
}
.restaurant-card img {
  width: 130px;
  border-radius: 10px 0px 10px 0px;
}
.restaurant-closed-card {
  width: 40vw;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--shadow-style);
  border: rgb(214, 212, 212);
  border-radius: var(--border-radius-event);
  margin-bottom: 10px;
}
.restaurant-closed-card img {
  width: 130px;
  border-radius: 10px 0px 10px 0px;
  filter: grayscale(100%);
}

/*--------------- User Profile ------*/

#user-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;
}
.user-photo-profile {
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  margin-top: 10px;
}
.user-info {
  width: 70%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.field-type {
  font-size: 14px;
  color: #b3aeae;
}
.field-info {
  font-size: 20px;
}
.user-interactions {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  justify-content: center;
  height: 50px;
}
.user-edit,
.user-delete {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.user-delete {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

/*--------------- User EDIT profile ------*/

#user-edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;
}

#user-edit-container form {
  width: 70%;
}
.user-edit-info {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.field-type-edit {
  font-size: 14px;
  color: #b3aeae;
}
.field-info-edit {
  font-size: 20px;
  border: none;
}
.user-interactions-accept {
  margin-top: 50px;
  width: 100%;
  height: 50px;
}
.user-accept {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

/*--------------- Log in ------*/
#login {
  width: 80%;
  margin: 13vh auto;
}

#login form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#login section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#login label {
  font-size: 14px;
  color: #b3aeae;
}

#login input {
  box-shadow: none;
  border-style: none;
  font-size: large;
  border-bottom: 1px solid black;
}

#login button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

/*--------------- Restaurant profile ------*/

#restaurant-profile .rest-name {
  width: 90%;
  margin: auto;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 50px;
  background-position: center;
}

#restaurant-profile .rest-info {
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

#restaurant-profile .rest-info p {
  margin: 10px 0;
}

#restaurant-profile span {
  font-weight: bold;
}

#restaurant-profile .rest-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#restaurant-profile a {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: whitesmoke;
  color: rgb(31, 31, 31);
}

#restaurant-profile .rest-delete {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

/*--------------- Restaurant home ------*/

#rest-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#rest-home .opening-button {
  margin: 20px auto;
}

#rest-home .opening-button a {
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

#rest-home h3 {
  margin-left: 10px;
  font-size: large;
}

#rest-home .order-section {
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
  padding: 5px;
}

#rest-home .order-section a {
  display: block;
  width: 95%;
  margin: auto;
  background-color: white;
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
}

#rest-home span {
  font-weight: bold;
}

#rest-home .no-order span {
  display: block;
  margin-left: 20px;
}

#restaurant-signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;
}

.user-select-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#restaurant-signup select {
  border: 2px solid black;
}

#restaurant-signup .delete-product {
  display: block;
}

/*--------------- Order detail view ------*/

#orderDetail {
  display: flex;
  width: 80%;
  margin: 20px auto;
  flex-direction: column;
}

#orderDetail h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#orderDetail .clientInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#orderDetail .clientInfo span {
  font-weight: bold;
}

#orderDetail .clientInfo p {
  font-size: 16px;
}

#orderDetail .products {
  margin: 20px 0;
}

#orderDetail .products li {
  list-style-type: disc;
  margin: 4px 0 4px 15px;
  font-size: 16px;
}

#orderDetail .orderManagement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

#orderDetail .orderManagement .linkToButton {
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  min-width: 120px;
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  margin: auto;
}

/* ----- Past orders ------ */

#pastOrders {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pastOrders h3 {
  display: inline;
  text-align: center;
  font-size: 18px;
}

#pastOrders span {
  font-weight: bold;
}

#pastOrders .pastOrder {
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
  padding: 5px;
}
