/* Hello there! use this keywords to find the styles!

1. Restaurant presentation Card.
2. Cards Products.
3. Main View - HOME VIEW & search view

*/
* {
  box-sizing: border-box;
}
html {
  width: 100vw;
}
:root {
  --shadow-style: 5px 5px 5px rgb(194 193 193);
  --border-event: 5px solid rgb(9, 19, 66);
  --border-radius-event: 20px 5px 20px 5px;
  --backgroud-color-event: rgb(9 19 66);
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
#home-view,
#restaurant-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#nav-bar,
#restaurant-title,
#cart {
  width: 90%;
}

/* ----------------------- Restaurant presentation Card -------*/
#restaurant-title {
  border: 5px solid rgb(214, 212, 212);
  border-radius: 20px 5px 20px 5px;
  background-color: rgb(214, 212, 212);
  padding-bottom: 5px;
  box-shadow: var(--shadow-style);
}
#restaurant-img-container {
  height: 120px;
  margin-bottom: 10px;
}
#restaurant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 5px 20px 5px;
}
#restaurant-info {
  display: flex;
  justify-content: space-evenly;
  height: 85px;
}
#restaurant-logo-container {
  height: 100%;
  width: 25%;
}
#restaurant-logo {
  /* take care with logo img from db! */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
#restaurant-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  justify-content: space-evenly;
  text-align: center;
}
#restaurant-name {
  font-size: 20px;
}

/*-------------- Cards Products -------*/
.category-and-products {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.search-title,
.category {
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}
.cart-partial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: var(--shadow-style);
  border-radius: 20px 5px 20px 5px;
  width: 95%;
}
.cart-partial-img {
  width: 33%;
}
.cart-partial-img a,
.cart-partial-img img {
  width: 100%;
}
.cart-partial-img img {
  border-radius: 5px;
}
.cart-partial-info {
  width: 50%;
  display: flex;
}

.edit-product {
  display: block;
  align-self: center;
  color: white;
  padding: 5px 0;
  width: 40%;
  height: 37px;
  text-align: center;
  box-shadow: var(--shadow-style);
  border: var(--border-event);
  border-radius: var(--border-radius-event);
  background-color: var(--backgroud-color-event);
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-partial-sell,
.cart-partial-add {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cart-partial-add img {
  width: 25px;
}

/*---------------- Cart ---------------- */
/* This ID is for buttons like "see your cart, finish your command, etc */
#view-all-btn,
#cart {
  padding-top: 5px;
  width: 40%;
  height: 40px;
  text-align: center;
  padding-bottom: 5px;
  box-shadow: var(--shadow-style);
  border: var(--border-event);
  border-radius: var(--border-radius-event);
  background-color: var(--backgroud-color-event);
  margin-top: 10px;
  margin-bottom: 10px;
}
#view-all-btn a,
#cart a {
  color: aliceblue;
}

/*---------------- User Cart Details ----------- */

#user-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
}
.user-cart-title {
  width: 90%;
  font-size: 20px;
  border-bottom: 2px solid black;
  margin: 10px 0px;
}
.product-details {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: 10px 0px;
  box-shadow: var(--shadow-style);
  border-radius: 15px 8px 8px 15px;
}
.img-details {
  width: 30%;
}
.img-details img {
  width: 100%;
  border-radius: 15px;
}
.name-and-price,
.remove-button {
  width: 30%;
}
.name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.trash-can-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash-can-logo {
  width: 20%;
  height: 25%;
}
.total-price-and-checkout {
  width: 90%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.total-price {
  width: 80%;
  height: 28%;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.checkout {
  width: 55%;
  height: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-style);
  border: rgb(214 136 29);
  border-radius: var(--border-radius-event);
  background-color: rgb(214 136 29);
  color: rgb(31, 31, 31);
}

/*-------- Main View - HOME VIEW & search view ----------- */

#sushi-lovers-card {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
#sushi-lovers-card img {
  width: 25%;
  object-fit: cover;
}
#text-menu-box {
  width: 50%;
}
#text-menu-box h1 {
  font-size: 25px;
}
#text-menu-box h2 {
  font-size: 16px;
}
#search-bar {
  width: 90%;
  margin: 10px 0px;
}
#search-bar form {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
#search-bar input,
#search-bar button {
  background-color: transparent;
  border: none;
}
#search-bar input {
  width: 90%;
}
#search-bar img {
  width: 30px;
}
.search-title {
  width: 90%;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
}
.restaurant-card {
  width: 40vw;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--shadow-style);
  border: rgb(214, 212, 212);
  border-radius: var(--border-radius-event);
  margin-bottom: 10px;
}
.restaurant-card img {
  width: 130px;
  border-radius: 10px 0px 10px 0px;
}

/*--------------- User Profile ------*/

#user-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-items: center;
  justify-content: space-evenly;
}
.user-photo-profile {
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  margin-top: 10px;
}
.user-info {
  width: 70%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.field-type {
  font-size: 14px;
  color: #b3aeae;
}
.field-info {
  font-size: 20px;
}
.user-interactions {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  justify-content: center;
  height: 50px;
}
.user-edit,
.user-delete {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.user-delete {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}
