<h2>Menu</h1>
<h3>Drinks</h3>
<ul></ul>
{{#each Drinks}}
    {{> productPartial}}
{{/each}}
<h3>Starters</h3>
<ul></ul>
{{#each Starters}}
    {{> productPartial}}
{{/each}}
<h3>Dishes</h3>
<ul></ul>
{{#each Dishes}}
    {{> productPartial}}
{{/each}}
<h3>Desserts</h3>
<ul></ul>
{{#each Desserts}}
    {{> productPartial}}
{{/each}}

<a href="/menu/add">Add product</a>