<h2>Menu</h2>

<h3>Drinks</h3>
{{#each drinks}}
    {{> productPartial}}
{{/each}}
<h3>Starters</h3>
{{#each starters}}
    {{> productPartial}}
{{/each}}
<h3>Dishes</h3>
{{#each dishes}}
    {{> productPartial}}
{{/each}}
<h3>Desserts</h3>
{{#each desserts}}
    {{> productPartial}}
{{/each}}

<a href="/menu/add">Add product</a>