<div id="restaurant-menu-container">
    <h2 id="restaurant-name">Menu</h2>

    <div class="category-and-products">
        <h3 class="category">Drinks</h3>
        {{#each drinks}}
            {{> productPartial}}
        {{/each}} 
    </div>
    
    <div class="category-and-products">
        <h3 class="category">Starters</h3>
        {{#each starters}}
            {{> productPartial}}
        {{/each}}    
    </div>

    <div class="category-and-products">
        <h3 class="category">Dishes</h3>
        {{#each dishes}}
            {{> productPartial}}
        {{/each}}    
    </div>
    
    <div class="category-and-products">
        <h3 class="category">Desserts</h3>
        {{#each desserts}}
            {{> productPartial}}
        {{/each}}    
    </div>
    
    <div id="cart">
        <a href="/menu/add">Add product</a>      
    </div>
</div>

