<h1>Sushilovers</h1>

<form action="/search" method="post">
    <input type="text" name="search" placeholder="Search by dish">
    <button type="submit">placeholderImg</button>
</form>

<h2>Featured</h2>
{{#each restaurantsDB}}
    <div>
        {{> restaurantPartial}}
    </div>
{{/each}}

<a href="/search">View all</a>