<div id="home-view">
    <div id="sushi-lovers-card">
        <img src="/images/sushilovers-logo.png" alt="sushi-lovers logo">
        <div id="text-menu-box">
            <h1>Sushilovers</h1>
            <h2>inserte aqui frase gancho</h2>
        </div>
    </div>

    <div id="search-bar">
        <form action="/search" method="post">
            <input type="text" name="search" placeholder="Search by dish">
            <button type="submit"><img src="/images/mag-glass.png" alt="search-logo"></button>
        </form>
    </div>

    <div class="search-title">
        <h2>Search results</h2>
    </div>
{{!-- View of all restaurants (Open or Closed) --}}
    <div class="restaurant-container">
        {{#if restaurantsOpenDB}}
     {{#each restaurantsOpenDB}}
     <div class="restaurant-card">
        {{> restaurantPartial}}
     </div>
     {{/each}}
     {{/if}}
     {{#if restaurantsClosedDB}}
     {{#each restaurantsClosedDB}}
     <div class="restaurant-closed-card">
        {{> restaurantPartial}}
     </div>
     {{/each}}
     {{/if}}
    </div>
{{!-- View of all restaurants with coincident word (Open or Closed) --}}
 <div class="restaurant-container">

    {{#each openRestaurants}}
        <div class="restaurant-card">
            {{> restaurantPartial}}
        </div>
    {{/each}}
    
    {{#each closedRestaurants}}
        <div class="restaurant-closed-card">
            {{> restaurantPartial}}
        </div>
    {{/each}}
</div>
 </div>