<h1>checkout</h1>

<div id="user-cart-container">
  <div class="user-cart-title">
    <h1>Checkout</h1>
  </div>
  <div class="checkout-info">
    <p>Direction:</p>
    <p>{{direction}}</p>
  </div class="checkout-info">
    <div class="checkout-info">
    <p>Payment Card:</p>
    <p>{{paymentCard}}</p>
  </div>
  <button id="checkout-button">Accept!</button>
</div>