<div id="user-cart-container">
  <div class="user-cart-title">
    <h1>Your Cart</h1>
  </div>
  {{#if filteredArray}}
    {{#each filteredArray}}
      {{> cartCheckoutPartial}}
    {{/each}}
    <div class="total-price-and-checkout">
      <h2 class="total-price"> Total: {{total}} €</h2>
      <div class="checkout">
        <a href="/cart/checkout/{{foundCart._id}}">Finish your command</a>
      </div>
    </div>
  {{else}}
    <div>
      <h1>Your cart is empty</h1>
    </div>
  {{/if}}
</div>